//Variables
html {
  --mainColor: #458588;
  --secondColor: #8ec07c;
  --thirdColor: #b16286;
  --pink: #fb4934;
  --green-alt: #b8bb26;
  --purple: #d3869b;
  --bg: #282828;
  --darkBlue: #1d2021;
  --white: #ebdbb2;
  --whiteLight: #a89984;
}
html[data-theme="light"] {
  --mainColor: #458588;
  --secondColor: #79740e;
  --thirdColor: #8f3f71;
  --pink: #9d0006;
  --green-alt: #79740e;
  --purple: #8f3f71;
  --bg: #fbf1c7;
  --darkBlue: #f9f5d7;
  --white: #3c3836;
  --whiteLight: #7c6f64;
}
